*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background-color: black;
    color: #ffff;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(header-image.png);
    background-size: cover;
    padding: 10px 8%;
    background-position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
nav img{
    width: 150px;
    cursor: pointer;
}
nav button{
     background-color: #db000f;
     color: #ffff;
     border: 0;
     outline: 0;
     font-size: 12px;
     padding: 7px 20px;
     border-radius: 4px;
     margin-left: 10px;
     cursor: pointer;
}
.lang-eng{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #ffff;
    padding: 7px 10px;
}
.lang-eng img{
    width: 10px;
    margin-left: 7px;
}
.maintext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    margin-top: 100px;
    text-align: center;
}
.maintext h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.maintext h3{
     font-weight: 400;
     font-size: 20px;
     margin: 20px;
}
.maintext p{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 100;
}
.Email-signup{
    display: flex;
    border-radius: 4px;
    background-color: #ffff;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 30px;
    overflow: hidden;
}
.Email-signup input{
      flex: 1; 
     border: 0;
     outline: 0;
     margin-left: 20px;
}
.Email-signup button{
    background-color: #db000f;
    color: #ffff;
    border: 0;
    outline: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
}

.features{
     padding: 50px 12%;
     font-size: 22px;
}
 .textrow{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 0px;
    flex-wrap: wrap;
}
.left-box {
    flex-basis: 50%;
    margin-bottom: 20px;
}
.rightbox{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.rightbox img{
    display: block;
    width: 90%;
    margin: auto;
} 
.features h2{
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px;
}
.features{
    font-size: 21px;
}
#image2{
    width: 90%;
    height: 90%;
}
#image4{
    width: 90%;
    height: 90%;
}
.faq{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 12%;
}
.faqheading{
   font-size: 35px;
   font-weight: 2000;
}
.accordion{
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
   content: '+';
   position: absolute;
   font-size: 34px;
   right: 20px;
   transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    max-height: 0;
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
       transform: rotate(135deg);
}
.faq .Email-signup{
      width: 600px;
      margin: 20px auto 60px;
}
.faq small{
    font-size: 20px;
}
.bookmark{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #ffffff94;
    display: flex;
    flex-direction: column;
}
.final{
    display: flex;
}
.linkcontent a{
    display: block;
    color: #ffffff94;
    font-size: 14px;
    margin-bottom: 10px;
}
.bookmark h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.bookmark .linkcontent{
     flex-basis: 25%;
     flex-grow: 1;
     margin-bottom: 20px;
}
.bookmark .final{
    align-items: flex-start;
    padding: 10px 0;
}
.bookmark .lang-eng{
    color: #ffffff94;
    padding: 10px 20px;
    border-radius: 5px;
}
.copyright{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.heading1 a{
    color: #ffffff94;
}
 @media only screen and (max-width: 600px){
    .logo{
        width: 100px;
    } 
     nav .button{
        padding: 5px 10px;
    }
    nav .lang-eng{
        padding:4px 8px;
    }
    .maintext{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .maintext h1{
        font-size: 30px;
    } 
    .rightbox, .leftbox{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;

    }
    .features p{
        font-size: 15px;
    }
    #image2{
        width: 270px;
        height: 200px;
    }
    #image4{
        width: 270px;
        height: 200px;
    }
    .textrow:nth-child(2), .textrow:nth-child(4){
        flex-direction: column-reverse;
    }
    .textrow{
        padding: 10px 0px;
    }
    .faq h2{
        font-size: 20px;
    }
    .accordion .content{
        font-size: 14px;
    }
    .accordion li label{
        padding: 10px;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
    .Email-signup button{
        font-size: 12px;
        padding: 10px 15px;
    }
    .faq .Email-signup{
        width: 300px;
        margin: 20px auto 60px;
    }
    .bookmark .heading{
        padding-left: 0px 0px 0px 20px;
        font-size: 13px;
    }
    .footer h2{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .linkcontent a{
        font-size: 15px;
    }
    .final{
        flex-direction: column;
    }
} 
